<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.takoyaki554773" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Takoyaki</name>
  <description>
    A project for a special person.
  </description>
  <author email="dstwen@gmail.com" href="http://www.justsaywen.com">
    David Wen
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="www/img/takoyaki.png" />
</widget>