<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-content>
        <div ng-controller="PlayCtrl">
          <!-- Image of takoyaki -->
          <div style="height: 100px; border-bottom: 1px solid black;">

          </div>

          <!-- Shows blanks to be guessed -->
          <div class="word-letters-holder">
            <div class="word-letter-row" ng-repeat="word in splitPhraseText track by $index">
              <div class="word-letter covered" ng-repeat="letter in word track by $index" ng-class="letter=='' ? 'blank' : ''" value="{{letter}}">
                <div class="inner-letter">
                  {{letter}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Shows letters -->
        <div ng-controller="LettersCtrl" class="letters-section">
          <div class="row letter-row">
            <div class="col letter" ng-repeat="letter in firstRowLetters track by $index" ng-click="clickedLetter(letter)">
              {{letter}}
            </div>
          </div>
          <div class="row letter-row">
            <div class="col letter" ng-repeat="letter in secondRowLetters track by $index" ng-click="clickedLetter(letter)">
              {{letter}}
            </div>
          </div>
          <div class="row letter-row">
            <div class="col letter" ng-repeat="letter in thirdRowLetters track by $index" ng-click="clickedLetter(letter)">
              {{letter}}
            </div>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
