<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/sweet_alert.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/sweet_alert.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane>
      <ion-content>
        <div ng-controller="PlayCtrl">
          <!-- Image of takoyaki -->
          <div class="images-holder">
            <img ng-src="img/fire.png"/ width="80" style="margin: 10px;">
            <div class="stick">
              <img ng-src="img/stick.png"/ width="150" style="margin: 10px;">
            </div>
            <div class="octo">
              <img ng-src="img/octo_small_hole.png"/ width="50" style="margin: 10px;">
            </div>
          </div>

          <!-- Shows blanks to be guessed -->
          <div class="word-letters-holder">
            <div class="word-letter-row" ng-repeat="word in splitPhraseText track by $index">
              <div class="word-letter covered" ng-repeat="letter in word track by $index" ng-class="letter=='' ? 'blank' : ''" value="{{letter}}">
                <div class="inner-letter">
                  {{letter}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Shows letters -->
        <div ng-controller="LettersCtrl" class="letters-section">
          <div class="row letter-row">
            <div class="col letter" ng-repeat="letter in firstRowLetters track by $index" ng-click="clickedLetter(letter)">
              {{letter}}
            </div>
          </div>
          <div class="row letter-row">
            <div class="col letter" ng-repeat="letter in secondRowLetters track by $index" ng-click="clickedLetter(letter)">
              {{letter}}
            </div>
          </div>
          <div class="row letter-row">
            <div class="col letter" ng-repeat="letter in thirdRowLetters track by $index" ng-click="clickedLetter(letter)">
              <div ng-if="letter!=''">
                {{letter}}
              </div>
            </div>
            <div class="col icon ion-help-circled help-icon" ng-click="clickedHelp()"></div>
          </div>
        </div>
        <div ng-controller="HelpCtrl" class="help-section" style="display: none;">
          <div ng-show="!showHint">
            <div class="guesses-remaining-text">
              <span>
                Guesses remaining: 
              </span>
              <span style="font-weight: bold;">
                {{guessesRemaining}}
              </span>
            </div>
            <div class="current-love-points">
              <span>
                Love points: 
              </span>
              <span style="font-weight: bold;">
                {{lovePoints}}
              </span>
            </div>
            <div class="current-love-points-status">
              <span>
                Status: 
              </span>
              <span style="font-weight: bold;">
                {{lovePoints | loveLevel}}
              </span>
            </div>
          </div>
          <div class="hint-holder" ng-show="showHint">
            {{hint}}
          </div>
          <div>
            <div class="row">
              <div class="col col-25">
                <button class="button button-light" ng-click="clickedBack()">
                  Back
                </button>
              </div>
              <div class="col col-50" style="text-align: center;">
                <button class="button button-energized" ng-click="showHint=!showHint">
                  {{showHintButtonText}}
                </button>
              </div>
              <div class="col col-25" style="text-align: right;">
                <button class="button button-light" ng-click="openAboutModal()">
                  About
                </button>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-pane>
    <script id="about_modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-energized">
          <h1 class="title">About Takoyaki</h1>
        </ion-header-bar>
        <ion-content>
          <div class="about-modal-content">
            <p>
              Wa! Helpu me!
            </p>
            <p>
              We were traveling in Japan and I was being petulant and I ran away. Subsequently, I have been kidnapped by ninjas who really like takoyaki. Naturally, they want to turn me into takoyaki!
            </p>
            <p>
              But then you showed up and you say, "Oh no you dong!" But I already on a stick and they gohn cook me goot. Unless, you can answer the words correctly within the limited number of guesses!
            </p>
            <p>
              How well you do is evidence of how much you love me. If you can answer the word with five guesses remaining, you get five points. If you answer it with 3 guesses, you get three points, etc. If you do not get the answer, you lose one point, not to mention I turn into a takoyaki...
            </p>
            <p>
              These points are aptly named, Love Points. Depending on how many Love Points you have, you qualify for certain titles:
            </p>
            <ul style="margin-bottom: 10px;">
              <li>
                • Less than 10 points: Puppy lover
              </li>
              <li>
                • 10 points or more: Mediocre lover
              </li>
              <li>
                • 25 points or more: B- lover
              </li>
              <li>
                • 50 points or more: Goot lover
              </li>
              <li>
                • 100 points or more: But I lover
              </li>
              <li>
                • Mystery level: Mystery name
              </li>
            </ul>
            <p>
              There is a hint available to you, but if you use it, you will only have one guess remaining. Not that you will need the hints, right? :P
            </p>
            <p>
              Merry Christmas sweetie. I love you. You know?
            </p>
            <p>
              Your Octo
            </p>
          </div>
          <div style="margin-bottom: 50px; text-align: center;">
            <button class="button button-energized" ng-click="closeAboutModal()">
              Play!
            </button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>
