/* Empty. Add your own CSS if you like */
.scroll {
  height: 100%;
}

.images-holder {
  height: 100px;
  position: relative;
}

.octo {
  position: absolute;
  top: 20px;
  right: 10px;
}

.stick {
  position: absolute;
  top: 45px;
  right: -50px;
}

.word-letters-holder {
  text-align: center;
  margin-top: 30px;
}

.word-letter-row {
  margin: 20px 0px;
}

.word-letter {
  font-weight: bold;
  font-size: 28px;
  padding: 2px;
  margin: 0px 2px;
  text-align: center;
  width: 25px;
  display: inline-block;
}

.word-letter.covered {
  border-bottom: 5px solid black;
}

.word-letter.blank {
  border-bottom: none !important;
}

.word-letter.covered .inner-letter {
  opacity: 0;
}

.letters-section, .help-section {
  position: absolute;
  bottom: 0px !important;
  height: 143px;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 10px;
}

.letter-row {
  margin-bottom: 10px;
  text-align: center;
}

.letter {
  font-size: 24px;
}

.help-icon {
  font-size: 24px;
  margin-top: -2px;
  cursor: pointer;
}

.strikethrough {
  position: relative;
  color: grey;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.guesses-remaining-text, .current-love-points, .current-love-points-status {
  text-align: center;
  font-size: 16px;
}

.hint-holder {
  margin-top: -10px;
  padding: 10px;
  height: 70px;
}

.about-modal-content {
  padding: 20px;
}

.sweet-alert h2 {
  font-size: 28px !important;
  margin: 10px 0px !important;
}